{% extends 'base.html' %}
{% block title%} - About {% endblock %}
{% block content %}
<h1>About</h1>
<p>Flowers have always brought me so much joy. Growing up, my Mom and Grandfather would spend a lot of time outside in the flower garden or vegetable garden, playing in the dirt. I didn't realize then how much hard work it takes to grow, maintain, and care for plants. Now, I love planting flowers in my own garden and in flower pots all along the back deck. The more colorful the flowers, the better!</p>
<p>If you like flowers, have your own beauties, or just want to poke around please come join us! I'd love to see what you've got growing on!</p>
{% endblock %}