{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{flower.image}}" alt="{{flower.name}}" />
</div>
<div class="detail__name">
    <h1 class="title">{{flower.name}}</h1>
</div>
<div class="detail__container">

    <div class="detail__songs mb-5">

        <h3 class="title is-3">Flowers</h3>
        <span>
          <div class="dropdown">
            <div class="dropdown-trigger">
              <button
                class="button"
                aria-haspopup="true"
                aria-controls="dropdown-menu"
              >
                <span>Add to Garden</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                {% for garden in gardens %}
            <!-- each garden becomes a drop
            down item with the ids needed to add to the join table  -->
                <a
                  href="{% url 'garden_flower_assoc' garden.pk flower.pk %}?assoc=add"
                  class="dropdown-item"
                >
                  {{garden.garden_name}}
                </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </span>


    </div>
    <div class="buttons">
        <a href="{% url 'flower_update' flower.pk %}" class="button is-info"> Updates
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'flower_delete' flower.pk %}" class="button is-danger">Delete
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__songs mb-5">
        <h3 class="title is-3">Seeds</h3>

        <!-- inside detail songs element below the header -->

<!-- Here you can see the action we provided
    is to the song_create route with the artist pk -->
    <form class="mb-5" action="{% url 'seed_create' flower.pk %}" method="post">
        {% csrf_token %}
        <div class="field has-addons">
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="seed_type"
                    placeholder="Seed type"
                    required
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="number"
                    name="seed_count"
                    placeholder="Number of seeds"
                    min="1"
                    required
                />
            </div>
            <div class="control">
                <input class="button is-primary" type="submit" value="Add Seed" />
            </div>
        </div>
    </form>
    
    <!-- before the for loop for songs -->

    
        {% for seed in flower.seeds.all %}
        <div class="song">
          <span>Seed type: <b>{{seed.seed_type}}</b></span>
          <span>Number of seeds: {{seed.seed_count}}</span>
        </div>
            {% empty %}
        <article class="message">
          <div class="message-header">
            <p>No Seeds Available</p>
          </div>
        </article>
    
        {% endfor %}
      </div>
    <div class="detail__about">
        <h4 class="title is-4">Description</h4>
        <p>{{flower.description}}</p>
    </div>
</div>

{% endblock %}